<div class="row">
  <div class="col-12">
    <div class="card companylogo-card mb-3" >
      <div class="row no-gutters">
        <% if current_user.companylogo.attached? %>
        <div class="col-md-4 pl-3 align-self-center">
          <%= image_tag url_for(current_user.companylogo), class: "card-img" %>
        </div>
        <% end %>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Company logo</h5>
            <p id="image-help" class="card-text">
              Upload a company logo that will be used to promote the show on the internet
            </p>
            <!-- <p class="card-text"><small class="text-muted">(at least 700px wide by 700px hight)</small></p> -->
            <div class="custom-file">
              <%= f.file_field :companylogo, class: "custom-file-input", "aria-describedby" => "image-help" %>
              <%= f.label :add_image, class: "custom-file-label" %>
            </div>
            <small id="companylogo" class="alert-text m-1 text-danger">Image error</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
