<ul class="nav nav-pills mb-3" id="welcome__profile-form" >
  <li class="nav-item">
    <%= link_to "Profile", welcome_path, id: 'profile-tab', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Personal social media", welcome_social_path, id: 'personal-social-media-tab', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Company info", welcome_company_path, id: 'company-info-tab', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Release", welcome_release_path, id: 'release-tab', class: 'nav-link' %>
  </li>
</ul>
