<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">

        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-show" role="tab" aria-controls="home">Show</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-type" role="tab" aria-controls="profile">Type</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-hardware" role="tab" aria-controls="messages">Hardware requirements</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-internet" role="tab" aria-controls="settings">Internet connection</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-test" role="tab" aria-controls="settings">Test date</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-recording" role="tab" aria-controls="settings">Recording date</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-personal" role="tab" aria-controls="settings">Personal information</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-company" role="tab" aria-controls="settings">Company information</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="booking-tab-content">
              <div class="tab-pane fade show active" id="list-show" role="tabpanel" aria-labelledby="list-home-list">
                Pick the show
              </div>
              <div class="tab-pane fade" id="list-type" role="tabpanel" aria-labelledby="list-profile-list">Pick type of show (virtual or in-studio)</div>
              <div class="tab-pane fade" id="list-hardware" role="tabpanel" aria-labelledby="list-messages-list">Hardware requirements questionaire</div>
              <div class="tab-pane fade" id="list-internet" role="tabpanel" aria-labelledby="list-settings-list">Internet connection test</div>
              <div class="tab-pane fade" id="list-test" role="tabpanel" aria-labelledby="list-settings-list">Pick a test date</div>
              <div class="tab-pane fade" id="list-recording" role="tabpanel" aria-labelledby="list-settings-list">Pick a recording date</div>
              <div class="tab-pane fade" id="list-personal" role="tabpanel" aria-labelledby="list-settings-list">Personal info</div>
              <div class="tab-pane fade" id="list-company" role="tabpanel" aria-labelledby="list-settings-list">Company info</div>
            </div>
          </div>
        </div>

      </div><!--col--->
    </div><!--row-->
  </div><!--container-->
</section>
