<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <ul class="nav nav-pills mb-3 dashboard_navigation" id="welcome__profile-form" >
            <li class="nav-item">
              <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" >Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="personal-social-media-tab" data-toggle="tab" href="#user-social-media" >Personal social media</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="company-info-tab" data-toggle="tab" href="#company_info" >Company info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="release-tab" data-toggle="tab" href="#release" >Release</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <%= render 'dashboard/show_errors' %>
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <!-- <h2>Personal information</h2> -->
              <%= form_with model: current_user, url: dashboard_update_path, html: { class: "customer-form", id: "user-profile-form" } do |f| %>
                <%= render 'dashboard/customerpartials/profileform', f: f %>
                <%= f.submit "Save", class: "btn btn-primary", role: "button", data: { "disable-with": "Updating..." } %>
              <% end %>
            </div><!--profile-tab-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
