/*
###############################
    Bookings styles
###############################
###############################
*/
#booking-form label
{
  display: block;
}

#booking-tab-content{
  // border: solid 1px var(--site-light-grey);
  // border-radius: 5px;
  // padding: 0 30px;
}

#booking-list-tab .list-group-item
{
  border: initial;
  padding: 10px 0 10px 20px;
  font-weight: bold;
  font-size: 14px;
  color: var(--site-light-grey);
}

  #booking-list-tab .list-group-item::before
  {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: var(--site-light-grey);
    left: 0px;
    top: 0;

  }

#booking-list-tab .list-group-item.active
{
  background-color: initial;
  color: var(--site-dark-grey);
}

  #booking-list-tab .list-group-item.active::before
  {
    background-color: #ffc107;//yellow

  }

.bookings-next
{
  margin-top: 15px;
}

.booking-labels
{
  cursor: pointer;
}

.gag-badge
{
  display: inline-block;
  padding: 0.25em 0.4em;
  line-height: 1;
  border-radius: 0.25rem;
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.gag-primary-badge
{
  color: white;
  background-color: grey;
}

.gag-secondary-badge
{
  background-color: initial;
  color: grey;
  border: solid 1px grey;
}

.lifeshow-label:hover,
input[type='radio']:checked + .lifeshow-label,
{
  border: solid 1px var(--purple);
  box-shadow: 0px 0px 5px 3px var(--purple);
}
input[type='radio']:checked + .lifeshow-label .gag-primary-badge
{
  background-color: var(--purple);
}

.lightingshow-label:hover,
input[type='radio']:checked + .lightingshow-label
{
  border: solid 1px var(--cyan);
  box-shadow: 0px 0px 5px 3px var(--cyan);

}
input[type='radio']:checked + .lightingshow-label .gag-primary-badge
{
  background-color: var(--cyan);
}

.in-studio-label:hover,
input[type='radio']:checked + .in-studio-label,
{
  border: solid 1px #0052f7;
  box-shadow: 0px 0px 5px 3px #0052f7;

}
input[type='radio']:checked + .in-studio-label .gag-secondary-badge
{
  border: solid 1px #0052f7;
  color: #0052f7;
}

.virtual-label:hover,
input[type='radio']:checked + .virtual-label,
{
  border: solid 1px orange;
  box-shadow: 0px 0px 5px 3px orange;

}
input[type='radio']:checked + .virtual-label .gag-secondary-badge
{
  border: solid 1px orange;
  color: orange;
}

.gag-report-grid1
{
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
  grid-column-gap: 15px;
  // grid-row-gap: 20px;
}


p.bookings-main {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: auto;
}

p.bookings-main .badge
{
  font-size: 15px;
}

.lighting
{
  background-color: var(--cyan);
}

.badge.lighting
{
  font-size: 1rem;
}

.badge.life
{
  background-color: var(--purple);
  font-size: 1rem;
}

a.link_to_booking
{
  color: black;
  text-decoration: none;
}

a.lighting-link:hover
{
  border-color: var(--cyan);
}

a.life-link:hover
{
  border-color: var(--purple);
}

p.booking-sub {
  font-weight: bold;
  margin-bottom: auto;
}

.virtual
{
  display: inline-block;
  color: orange;
  border: solid 1px orange;
  padding: 0.25em 0.4em;
  line-height: 1;
  border-radius: 0.25rem;
  margin-top: 5px;
  font-size: 1rem;
}

.in-studio
{
  display: inline-block;
  color: #0052f7;
  border: solid 1px #0052f7;
  padding: 0.25em 0.4em;
  line-height: 1;
  border-radius: 0.25rem;
  margin-top: 5px;
  font-size: 1rem;
}
