/*
###############################
    Bookings styles
###############################
###############################
*/
#booking-form label
{
  display: block;
}

// #booking-form small
// {
//   display: inline-block;
//   margin-bottom: 1rem;
//   padding-left: 20px;
// }

p.bookings-main {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: auto;
}

p.bookings-main .badge
{
  font-size: 15px;
}

p.bookings-main .lighting
{
  background-color: var(--cyan);
}

.badge.lighting
{
  font-size: 1rem;
}

.badge.life
{
  background-color: var(--purple);
  font-size: 1rem;
}

a.link_to_booking
{
  color: black;
  text-decoration: none;
}

a.lighting-link:hover
{
  border-color: var(--cyan);
}

a.life-link:hover
{
  border-color: var(--purple);
}

p.booking-sub {
  font-weight: bold;
  margin-bottom: auto;
}

.virtual
{
  display: inline-block;
  color: orange;
  border: solid 1px orange;
  padding: 0.25em 0.4em;
  line-height: 1;
  border-radius: 0.25rem;
  margin-top: 5px;
  font-size: 1rem;
}

.in-studio
{
  display: inline-block;
  color: #0052f7;
  border: solid 1px #0052f7;
  padding: 0.25em 0.4em;
  line-height: 1;
  border-radius: 0.25rem;
  margin-top: 5px;
  font-size: 1rem;
}
