/*
###############################
    media_queries styles
###############################
###############################
*/
@media screen and (max-width:768px) {

  // * { border: solid 1px red; }

  .dashboard_navigation {
    // display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    // margin: 0 auto;
  }

  .flash-alerts {
    width: 90%;
    left: 5%;
  }

  .display-4
  {
    font-size: 2rem
  }

  .gag-checkbox-label {
    padding: 5px 10px;
    width: 100%;
  }

  .input_wrapper {
    width: 100%;
    border: solid 1px #ced4da;
    // border-top-right-radius: 0;
    // border-bottom-right-radius: 0;
    // border-right-width: 1;
  }

  /*
  ###############################
      bookings page styles
  ###############################
  */
  #booking-list-tab
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    grid-gap: 15px;
  }

  #booking-list-tab .list-group-item {
    padding: 5px 0 5px 10px;
    font-size: 13px;
  }

  .line-select-grid {
    grid-template-columns: repeat(2, auto);
  }

}//end 768px

@media screen and (max-width:540px) {

  .dashboard_navigation {
    // display: grid;
    grid-template-columns: repeat(2, auto);

  }

  #admin-dashboard-submenu {
    grid-template-columns: repeat(2, auto);
  }

}//end 540px
