/*
###############################
    media_queries styles
###############################
###############################
*/
@media screen and (max-width:768px) {

  // * { border: solid 1px red; }

  #pills-tab {
    // display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    // margin: 0 auto;
  }

  .flash-alerts {
    width: 90%;
    left: 5%;
  }

  .display-4
  {
    font-size: 2rem
  }

  .gag-checkbox-label {
    padding: 5px 10px;
    width: 100%;
  }

  .input_wrapper {
    width: 100%;
    border: solid 1px #ced4da;
    // border-top-right-radius: 0;
    // border-bottom-right-radius: 0;
    // border-right-width: 1;
  }

}//end 768px
