/*
###############################
    WelcomeForm styles
###############################
###############################
*/

#welcome__profile-form
{
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 70%;
  margin: 0 auto;
}

#welcome__profile-form .nav-link {
    text-align: center;
}
