
<a class="list-group-item list-group-item-action active" id="booking_type_link" href="#booking_type_container" role="tab" aria-controls="type">
  <span class="booking-form-index"></span>
  Type
</a>
<a class="list-group-item list-group-item-action" id="show_name_link" href="#booking_show_container" role="tab" aria-controls="show">
  <span class="booking-form-index"></span>
  Show
</a>
<a class="list-group-item list-group-item-action" id="audio_hardware_link" href="#list-audio-hardware" role="tab" aria-controls="audio-hardware">
  <span class="booking-form-index"></span>
  Audio requirements
</a>
<a class="list-group-item list-group-item-action" id="video_hardware_link" href="#list-video-hardware" role="tab" aria-controls="video-hardware">
  <span class="booking-form-index"></span>
  Video requirements
</a>
<a class="list-group-item list-group-item-action" id="computer_type_link" href="#list-computer" role="tab" aria-controls="computer">
  <span class="booking-form-index"></span>
  Type of computer
</a>
<a class="list-group-item list-group-item-action" id="browser_type_link" href="#list-browser" role="tab" aria-controls="browser">
  <span class="booking-form-index"></span>
  Type of browser
</a>
<!-- <a class="list-group-item list-group-item-action" id="intenet_requirements_link" href="#list-internet" role="tab" aria-controls="internet">
  <span class="booking-form-index"></span>
  Internet connectivity
</a> -->
<a class="list-group-item list-group-item-action" id="test_date_link" href="#list-test" role="tab" aria-controls="test">
  <span class="booking-form-index"></span>
  Test date
</a>
<a class="list-group-item list-group-item-action" id="recording_date_link" href="#list-recording" role="tab" aria-controls="recording">
  <span class="booking-form-index"></span>
  Recording date
</a>
<a class="list-group-item list-group-item-action" id="image_consent_link" href="#list-personal" role="tab" aria-controls="personal">
  <span class="booking-form-index"></span>
  Personal branding review
</a>
<a class="list-group-item list-group-item-action" id="logo_consent_link" href="#list-company" role="tab" aria-controls="company">
  <span class="booking-form-index"></span>
  Company branding review
</a>
