
<a class="list-group-item list-group-item-action active" id="list-type-list" href="#list-type" role="tab" aria-controls="type"><span class="booking-form-index"></span> Type</a>
<a class="list-group-item list-group-item-action" id="list-show-list" href="#list-show" role="tab" aria-controls="show"><span class="booking-form-index"></span> Show</a>
<a class="list-group-item list-group-item-action" id="list-audio-hardware-list" href="#list-audio-hardware" role="tab" aria-controls="audio-hardware"><span class="booking-form-index"></span> Audio requirements</a>
<a class="list-group-item list-group-item-action" id="list-video-hardware-list" href="#list-video-hardware" role="tab" aria-controls="video-hardware"><span class="booking-form-index"></span> Video requirements</a>
<a class="list-group-item list-group-item-action" id="list-computer-list" href="#list-computer" role="tab" aria-controls="computer"><span class="booking-form-index"></span> Type of computer</a>
<a class="list-group-item list-group-item-action" id="list-browser-list" href="#list-browser" role="tab" aria-controls="browser"><span class="booking-form-index"></span> Type of browser</a>
<a class="list-group-item list-group-item-action" id="list-internet-list" href="#list-internet" role="tab" aria-controls="internet"><span class="booking-form-index"></span> Internet connectivity</a>
<a class="list-group-item list-group-item-action" id="list-test-list" href="#list-test" role="tab" aria-controls="test"><span class="booking-form-index"></span> Test date</a>
<a class="list-group-item list-group-item-action" id="list-recording-list" href="#list-recording" role="tab" aria-controls="recording"><span class="booking-form-index"></span> Recording date</a>
<a class="list-group-item list-group-item-action" id="list-personal-list" href="#list-personal" role="tab" aria-controls="personal"><span class="booking-form-index"></span> Personal information</a>
<a class="list-group-item list-group-item-action" id="list-company-list" href="#list-company" role="tab" aria-controls="company"><span class="booking-form-index"></span> Company information</a>
