<fieldset>
  <legend class="custom-subtitle-1" >Pick a recording date</legend>
  <!-- <small class="form-text text-muted">You must pick a test day at leat 5mins before recording time.</small> -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">

        <div class="input-group date" id="recording-datepicker" data-target-input="nearest">
          <%= booking.datetime_field :recording_date, id: "recording-date", class: "form-control datetimepicker-input", data: {target: "#recording-datepicker"}, placeholder: "Recording date" %>
          <div class="input-group-append" data-target="#recording-datepicker" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>

      </div>
    </div>
    <!-- <div class="col-md-6">
      <div class="form-group">
        <%#= booking.time_field :recording_time, id: "recording-time", class: "form-control", placeholder: "Recording time" %>
      </div>
    </div> -->
  </div>
</fieldset>
