<div class="form-group">
  <div class="input-group date" id="user_dob_picker" data-target-input="nearest">
    <%= f.text_field :test_date, id: "recording_test_date", class: "form-control", data: {target: "#user_dob_picker"}, placeholder: "Fake test date" %>
    <!-- <input type="text" class="form-control datetimepicker-input" data-target="#user_dob_picker"/> -->
    <div class="input-group-append" data-target="#user_dob_picker" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
  <small id="test_date" class="alert-text m-1 text-danger">test_date error</small>
  <small id="" class="form-text text-muted mb-3">Test date DD/MM/YYYY</small>
</div>
