
  <script>

    function hide_recording_date(id){
      if (id) {
        $('#' + id).hide();
        console.log("No embeded date picker");
      }
    }

    // CHECK IF THERE IS A RECORDING DATE
    function setUpDatesDivs(hidden_field, embeddedDatePicker, placeHolder) {
      var recordingValue = $('#' + hidden_field).val();

      if (recordingValue.length > 0) {
        var readyDate = new Date(recordingValue);
        var recordingDate = readyDate.toDateString();
        var recordingTime = readyDate.toLocaleTimeString();
        var recordingText = recordingDate + " at " + recordingTime;

        hide_recording_date(embeddedDatePicker);
        $('#' + placeHolder).text(recordingText);
        $('#' + placeHolder).parent().removeClass('d-none');
      } else {
        console.log('no recording date');
        console.log(recordingValue);
      }
    }

    function SOAfterConfirmationFunction(data)
    {
    	console.log(data);
    	console.log('---------------');
      console.log(typeof(data));
      console.log('---------------');

      if (data["errorStatus"] == 0 ) {
        var recording_date = data['bookingInfo']['MeetingTimes'][0]['CustomerTime'];
        console.log(recording_date);
        console.log('---------------');
        $('#recording_test_date').val(recording_date);
        console.log("---------------------------");
        console.log("RecordingDate ADDED TO Hidden input");
        console.log("---------------------------");

        setUpDatesDivs("recording_test_date", "SOIDIV_GetAGripOnLife", "test_date_placeholder" );

      }
    }
  </script>
  <!-- ScheduleOnce embed START -->
  <div id="SOIDIV_GetAGripOnLife" data-so-page="GetAGripOnLife" data-height="550" data-style="border: 1px solid #d8d8d8; min-width: 290px; max-width: 900px;" data-psz="11"></div>
  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>
  <!-- ScheduleOnce embed END -->
