<div class="row">
  <div class="col-md-12">
    <h3 class="custom-subtitle-2 p-0">Keep in mind that your test must be scheduled before the recording date.</h3>
    <h2 class="d-none">Test date: <span id="test_date_placeholder"></span></h2>

    <!-- ScheduleOnce embed START -->
    <div id="SOIDIV_GetAGripOnLife" data-so-page="GetAGripOnLife" data-height="550" data-style="border: 1px solid #d8d8d8; min-width: 290px; max-width: 900px;" data-psz="11"></div>
    <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>
    <!-- ScheduleOnce embed END -->
    
    <%= booking.hidden_field :test_date, id: "recording_test_date" %>

  </div><!-- col -->
</div>
