<p>Temporary datepicker</p>
<div class="form-group mb-5">
  <div class="input-group date" id="datetimepicker12" data-target-input="nearest">
      <input type="text" id="fake-test-picker" class="form-control datetimepicker-input" data-target="#datetimepicker12"/>
      <div class="input-group-append" data-target="#datetimepicker12" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
  </div>
  <script type="text/javascript">
      $(function () {
        const testPicker = $('#datetimepicker12');
        const pickedDate = testPicker.find('input[type=text]').val();

        testPicker.datetimepicker({
            daysOfWeekDisabled: [0, 6],
            viewMode: 'months',
            sideBySide: true

        });

        if (pickedDate) {
          let setDate = new Date(pickedDate);
          testPicker.datetimepicker('defaultDate', setDate);
        } else {
          testPicker.datetimepicker('date', null);
        }


        testPicker.on("hide.datetimepicker", function(e) {
         let fakeDate = $('#fake-test-picker').val();
         $('#recording_test_date').val(fakeDate);

         setUpDatesDivs("recording_test_date", "SOIDIV_GetAGripOnLife", "test_date_placeholder" );

         // GET RECORDING DATE FORM
         getRecordingForm();
        });


      });
  </script>
</div>


<script type="text/javascript">
  function SOAfterConfirmationFunction(data)
  {
  	// console.log(data);
  	// console.log('---------------');
    // console.log(typeof(data));
    // console.log('---------------');

    if (data["errorStatus"] == 0 ) {
      var recording_date = data['bookingInfo']['MeetingTimes'][0]['CustomerTime'];
      // console.log(recording_date);
      // console.log('---------------');
      $('#recording_test_date').val(recording_date);
      // console.log("---------------------------");
      // console.log("RecordingDate ADDED TO Hidden input");
      // console.log("---------------------------");

      setUpDatesDivs("recording_test_date", "SOIDIV_GetAGripOnLife", "test_date_placeholder" );

      // GET RECORDING DATE FORM
      getRecordingForm();

    }
  }
</script>

<!-- ScheduleOnce embed START -->
<div id="SOIDIV_GetAGripOnLife" style="display:none" data-so-page="GetAGripOnLife" data-height="550" data-style="border: 1px solid #d8d8d8; min-width: 290px; max-width: 900px;" data-psz="11"></div>
<script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>
<!-- ScheduleOnce embed END -->
