<div class="row">
  <div class="col-md-12">
    <div class="card-deck">
      <%= booking.radio_button :booking_type, "in-studio", id: "booking_showtype_instudio", class: "pick-type-input d-none" %>
      <%= booking.label "showtype_instudio", class: "card booking-labels in-studio-label" do %>
          <div class="card-body">
            <span class="gag-badge gag-secondary-badge mb-3">
              in-studio booking
            </span>
            <p class="card-text">
              You are physically comming to our Studio at 3800 Victoria Park Avenue in Toronto.
            </p>
          </div>
      <% end %><!--label-end-->

      <%= booking.radio_button :booking_type, "virtual", id: "booking_showtype_virtual", class: "pick-type-input d-none" %>
      <%= booking.label "showtype_virtual", class: "card booking-labels virtual-label" do %>
        <div class="card-body">
          <span class="gag-badge gag-secondary-badge mb-3">
            virtual booking
          </span>
          <p class="card-text">
            You are logging into our virtual studio from your computer wherever you are in the world.
          </p>
        </div>
      <% end %><!--label-end-->
    </div>
  </div><!-- col -->
</div>
